{% extends 'content/login.html' %}
{% block content %}
<div class="signinbox">
    <form action="{% url 'loginact' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col m4 offset-m4">
                <div class="input-field">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text" class="validate">
                </div>
                
                <div class="input-field">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="validate">
                </div>
                <input type="submit" class="btn waves-effect waves-light" value="check me">
            </div>
        </div>
        {% include 'content/message.html' %}
    </form>
</div>
{% endblock %}