<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    </head>
    
    <body onload="initialize()">
        <header style="background-image: linear-gradient(rgba(120, 120, 120, 0.8), rgba(60, 60, 60, 0.8)), url({% static 'background.jpg' %})">
            <div>
                <a href="{% url 'main' %}">
                    <img onmouseenter="movecursor()" onmouseout="outcursor()" class="logo" src="{% static 'logo.png' %}">
                </a>
                <img id="cursor" class="cursor" src="{% static 'cursor.png' %}">
            </div>
            <div>
                <ul class="nav">
                    <li><a href="{% url 'info' %}">Inform</a></li>
                    <li class="active"><a href="{% url 'note' %}">Note</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </div>
        </header>
        
        <div class="mainword">
            <h1 class="text-center">Son's Note</h1>
        </div>
        <form class="notelist for-horizontal" action="{% url 'note' %}" method="post">
            {% csrf_token %}
            <div id="lecture">
                <h2 style="color: #d9d9d9">Calc Grade</h2>
                <input class="btn btn-warning" type="button" value="Clear" onclick="deleteall()">
                <input class="btn btn-success" type="button" value="Add" onclick="add()">
                <input type="text" id="count" readonly>
                <table id="insertTable" class="table">
                </table>
                <input type="submit" class="btn waves-effect waves-light" value="Calc">
            </div>
            {% include 'content/message.html' %}
        </form>
        
        
        <script type="text/javascript" src="{% static 'script.js' %}"></script>
    </body>
    <script>
        var ttable = document.getElementById("insertTable");
        var id = 0;
        var count = document.getElementById("count");
        
        function add(){
            var row = ttable.insertRow(ttable.rows.length);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            cell1.innerHTML = "<input type='text' class='form-control' id='name" + id + "' placeholder='Name'>"
            cell2.innerHTML = "<input type='text' class='form-control' id='grade" + id + "' placeholder='Grade'>"
            cell3.innerHTML = "<input type='text' class='form-control' id='unit" + id + "' placeholder='Units'>"
            id++;
            count.value = id;
        }
        function deleteall(){
            var i = ttable.rows.length;
            if(i == 0) return;
            ttable.deleteRow(i - 1);
            id--;
            count.value = id;
        }
    </script>
</html>